::-webkit-scrollbar {
    display: none;
}

.app {}

.left-bar {
    background: #FFF;
}

.right-bar {
    background: #FFF;
}

.main-content {
    background: #F6F6F6;
}

span.chip {
    border-radius: 10px;
    background: rgba(59, 74, 91, 0.90);
    padding: 4px 8px;
    color: #F6F6F6;

}

.nav-tab-active {
    background: rgba(59, 74, 91, 0.90) !important;
    color: #F6F6F6 !important;
}

.nav-tab {
    border-radius: 10px;
    width: 250px;
    padding: 12px 15px;
    background: #D9D9D9;
    color: black;
    font-weight: 500;
    transition: all 0.4s;
}

.nav-tab:hover {
    opacity: 0.9;
    background: #a5a5a5b5;
}



svg {
    margin-right: 7px;
}

.nav-tab svg path.fill {
    fill: black;
}

.nav-tab-active svg path.fill {
    fill: white;
}

.nav-tab svg path.stroke {
    stroke: black;
}

.nav-tab-active svg path.stroke {
    stroke: white;
}

.avatar img {
    max-width: 200px;
    min-width: 200px;
    min-height: 200px;
    max-height: 200px;
    border-radius: 50%;
}

.img-icon {
    right: 15%;
    bottom: -5%;
    z-index: 10;
}

.des {
    border-radius: 10px;
    background: #D9D9D9;
    color: #1D252D;
    font-size: 14px;
    width: 300px;
    max-height: 200px;
    text-align: start;
    font-weight: 500;
}

.tab {
    padding: 15px 15px 40px 15px;
    width: 300px;
    min-height: 150px;
    max-height: 170px;
    border-radius: 10px;
    background: #D9D9D9;

}

.tab::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 28px;
    height: 23px;
    border-radius: 0px 0px 8px 0px;
    background: rgba(59, 74, 91, 0.90);
    transition: all 0.6s;
}

.tab:hover::after {
    content: "";
    width: 40px;
    height: 23px;
    border-radius: 8px 0px;
}

.selengkapnya {
    opacity: 0;
    transform: translateY(-20px);
    transition: all 0.4s;
}

.tab:hover .selengkapnya {
    opacity: 1;
    transform: translateY(0);
}

.selengkapnya:hover {
    margin-left: 8px;
}

.load {
    width: 300px;
    height: 300px;
}

svg:hover {
    cursor: pointer;
}

/* Dashboard */

.main-carousel {
    background-color: #A9C6E9;
    padding: 20px 60px 20px 30px;
}

.Mybutton2 {
    border-radius: 12px;
    color: white !important;
    background: #1D252D;
    border: none;
    transition: all 0.3s;
}

.Mybutton2:hover::before {
    content: "-> ";
    position: absolute;
    font-weight: 700;
    left: -30px;
    top: 8px;
    font-size: 20px;
    color: #1D252D;
}

.Mybutton2:hover {
    background: #1d252dde;
}

.card-feature {
    border-radius: 5px;
    background: var(--Adrift-on-the-Nile-700, #7693B6);
    padding: 5px;
    position: relative;
    transition: all 0.4s;
}

.card-feature .inner {
    border-radius: 5px;
    background: var(--Adrift-on-the-Nile-1000, #1D252D);
    padding: 15px;
    color: #F6F6F6;
    transition: all 0.4s;
    /* font-weight: ; */
}

.card-feature:hover {
    padding: 5px 30% 5px 5px;
}

.card-feature:hover .inner {
    background: var(--Adrift-on-the-Nile-1000, #1d252de4);
}

.myCard {
    background: #D9D9D9;
    color: black;
    padding: 25px;
    border-radius: 5px;
    transition: all 0.6s;
}

.myCard:hover{
    background: #46454578;
}

.date{
    opacity: 0;
    transform: translateY(-50);
    transition: all 0.3s;
}

.myCard:hover .date{
    opacity: 1;
    margin-left: 5px;
}

.myCard .chip {
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 5px;
    background: var(--Adrift-on-the-Nile-900, #3B4A5B);
    color: var(--Adrift-on-the-Nile-100, #F4F8FC);
}

.price {
    border-radius: 5px;
    background: #1D252D!important;
    padding: 3px 3px;
    color: white;
}