::-webkit-scrollbar {
    display: none;
}

.app {}

.left-bar {
    background: #FFF;
}

.right-bar {
    background: #FFF;
}

.main-content {
    background: #F6F6F6;
    border: 1px solid rgba(0, 0, 0, 0.20);
}

span.chip {
    border-radius: 10px;
    background: rgba(59, 74, 91, 0.90);
    padding: 4px 8px;
    color: #F6F6F6;

}

.nav-tab-active {
    background: rgba(59, 74, 91, 0.90) !important;
    color: #F6F6F6 !important;
}

.nav-tab {
    border-radius: 10px;
    width: 250px;
    padding: 12px 15px;
    background: #D9D9D9;
    color: black;
    font-weight: 500;
    transition: all 0.4s;
}

.nav-tab:hover {
    opacity: 0.9;
    background: #a5a5a5b5;
}



svg {
    margin-right: 7px;
}

.nav-tab svg path.fill {
    fill: black;
}

.nav-tab-active svg path.fill {
    fill: white;
}

.nav-tab svg path.stroke {
    stroke: black;
}

.nav-tab-active svg path.stroke {
    stroke: white;
}

.avatar img {
    max-width: 200px;
    min-width: 200px;
    min-height: 200px;
    max-height: 200px;
    border-radius: 50%;
}

.img-icon {
    right: 15%;
    bottom: -5%;
    z-index: 10;
}

.des {
    border-radius: 10px;
    background: #D9D9D9;
    color: #1D252D;
    font-size: 14px;
    width: 300px;
    max-height: 200px;
    text-align: start;
    font-weight: 500;
}

.tab {
    padding: 15px 15px 40px 15px;
    width: 300px;
    min-height: 150px;
    max-height: 170px;
    border-radius: 10px;
    background: #D9D9D9;

}

.tab::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 28px;
    height: 23px;
    border-radius: 0px 0px 8px 0px;
    background: rgba(59, 74, 91, 0.90);
    transition: all 0.6s;
}

.tab:hover::after {
    content: "";
    width: 40px;
    height: 23px;
    border-radius: 8px 0px;
}

.selengkapnya {
    opacity: 0;
    transform: translateY(-20px);
    transition: all 0.4s;
}

.tab:hover .selengkapnya {
    opacity: 1;
    transform: translateY(0);
}

.selengkapnya:hover {
    margin-left: 8px;
}

.load {
    width: 300px;
    height: 300px;
}

svg:hover {
    cursor: pointer;
}

/* Dashboard */

.main-carousel {
    background-color: #A9C6E9;
    padding: 20px 60px 20px 30px;
}

.Mybutton2 {
    border-radius: 12px;
    color: white !important;
    background: #1D252D;
    border: none;
    transition: all 0.3s;
}

.Mybutton2:hover::before {
    content: "-> ";
    position: absolute;
    font-weight: 700;
    left: -30px;
    top: 8px;
    font-size: 20px;
    color: #1D252D;
}

.Mybutton2:hover {
    background: #1d252dde;
}

.card-feature {
    border-radius: 5px;
    background: var(--Adrift-on-the-Nile-700, #7693B6);
    padding: 5px;
    position: relative;
    transition: all 0.4s;
}

.card-feature .inner {
    border-radius: 5px;
    background: var(--Adrift-on-the-Nile-1000, #1D252D);
    padding: 15px;
    color: #F6F6F6;
    transition: all 0.4s;
    /* font-weight: ; */
}

.card-feature:hover {
    padding: 5px 30% 5px 5px;
}

.card-feature:hover .inner {
    background: var(--Adrift-on-the-Nile-1000, #1d252de4);
}

.myCard {
    background: #D9D9D9;
    color: black;
    padding: 25px;
    border-radius: 5px;
    transition: all 0.6s;
}

.myCard:hover {
    background: #46454578;
}

.date {
    opacity: 0.5;
    transform: translateY(-50);
    transition: all 0.3s;
}

.myCard:hover .date {
    opacity: 1;
    margin-left: 5px;
}

.myCard .chip {
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 5px;
    background: var(--Adrift-on-the-Nile-900, #3B4A5B);
    color: var(--Adrift-on-the-Nile-100, #F4F8FC);
}

.price {
    border-radius: 5px;
    background: #1D252D !important;
    padding: 3px 3px;
    color: white;
}

.myModal {
    padding: 20px 0px;
}

.logo {
    color: #586E88 !important;
}

.modal-form {
    border: 1px dashed #000;
    padding: 20px;
    position: relative;
}

.form-dark {
    padding: 10px;
    color: #F6F6F6 !important;
    background: var(--Adrift-on-the-Nile-1000, #1D252D) !important;
    font-size: 16px;
}

.form-light{
    font-size: 16px!important;
    padding: 10px!important;
}

.mySubmitForm {
    border-radius: 12px;
    background: var(--Adrift-on-the-Nile-1000, #1D252D);
    padding: 10px 13px;
    color: #F6F6F6;
    border: none;
}
.myResetForm {
    border-radius: 12px;
    padding: 10px 13px;
    border: 1px dashed #161819;
}

/* History */

.content-container {
    min-height: 80vh;
    max-height: 80vh;
    overflow-y: auto;
}

.content-container .myCard {
    position: relative;
    transition: all 0.4s;
    background: #D9D9D9 !important;
}

.content-container .myCard::before {
    content: "";
    width: 30%;
    height: 0;
    transition: all 0.2s;
    position: absolute;
    right: 0;
    bottom: 0;
}

.content-container .myCard:hover::before {
    content: "Click me. for detail pengeluaran";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 30%;
    height: 100%;
    padding: 5%;
    font-size: 20px;
    font-weight: 700;
    background-color: #161819;
    color: white;
}

.load-more {
    position: relative;
    background: white;
    color: #161819;
    padding: 10px;
    transition: all 0.3s;
}

.load-more:hover span {
    position: relative;
    color: #F4F8FC;
    z-index: 10 !important;
}

.load-more::before {
    content: "";
    background-color: #161819;
    color: #F4F8FC;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5%;
    transition: all 0.3s;
    z-index: 0;
}

.load-more:hover::before {
    height: 100%;
    z-index: 0;
}

/* Search */
.search {
    border-radius: 20px;
    background: #D9D9D9;
    padding: 10px;
    width: 70px;
    height: 50px;
    transition: all 0.4s;
}

.search:hover {
    background: #1D252D;
}

.search:hover path {
    fill: #D9D9D9;
}

.category-container span.chip {
    margin: 2px;
    padding: 5px 8px;
}

.category-container span.chip:hover {
    opacity: 0.8;
    cursor: pointer;
}


/* search */

.date-picker-container {
    position: relative;
    display: inline-block;
}

.date-picker {
    width: 200px;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
}


.d-lg-none {
    margin: 10px;
    position: absolute;
    top: 0;
    right: 0;
}

.e {
    cursor: pointer;
}

/* .date-picker::-webkit-calendar-picker-indicator {
    display: none;
  }  */


/* handphone */
@media screen and (max-width: 678px) {

    .left-bar, .right-bar {
        z-index: 30;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        /* display: none; */
        transform: translateX(-100%);
        transition: all 0.3s;
    }

    .left-bar.active, .right-bar.active {
        opacity: 1;
        /* display: none; */
        transform: translateX(0);
    }

    .content-container .myCard:hover::before {
        content: "Click me. for detail pengeluaran";
        position: absolute;
        right: 0;
        bottom: 0;
        width: 40%;
        height: 100%;
        padding: 15% 5%;
        font-size: 20px;
        font-weight: 700;
        background-color: #161819;
        color: white;
    }


}

/* tablet */
@media screen and (min-width: 678px) and (max-width: 978px) {
    .left-bar, .right-bar {
        z-index: 30;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        /* display: none; */
        transform: translateX(-100%);
        transition: all 0.3s;
    }

    .left-bar.active, .right-bar.active {
        opacity: 1;
        /* display: none; */
        transform: translateX(0);
    }
}