*{
  font-family: Poppins!important;
}

.fs14{
  font-size: 14px!important;
}
.fs16{
  font-size: 16px!important;
}
.fs18{
  font-size: 18px!important;
}
.fs20{
  font-size: 20px!important;
}

.fs27{
  font-size: 27px!important;
  font-weight: 700;
}

.fs40{
  font-size: 40px!important;
  font-weight: 700;
}

a:hover,.a:hover{
  cursor: pointer;
}

.b{
  font-weight: 700;
}

.tGray{
  color: #919191;
}

.swiper {
  width: 600px;
  height: 300px;
}
